@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.container header span{
    padding-top: .5rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container form .inputContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.container form .inputContainer label{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin-bottom: .5rem;
}

.container form .inputContainer input{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    width: 32.5rem;
    height: 3.0625rem;
    border: 1px solid #5C73DB;
    border-radius: .75rem;
    margin-bottom: .75rem;
    outline: none;
}

.container form a{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #5C73DB;
}

.container form .button{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 8px;
    width: 32.5rem;
    height: 3rem;
    background-color: #4763e4;
    border-radius: .75rem;
    border: none;
    color: white;
}